body{
    width: 80%;
    margin:auto;
    
}

/* intestazione */
.logo{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-family: arial;
    
}

header{
    background-color: white;
}

/* parte centrale */
main{
    background-color:rgba(220, 228, 241, 0.5);
    width: 1100px;
    height: 1200px;
    margin:0,5px auto;
    padding-top: 2%;
}

.sezione{
    background-color: white;
    width: 700px;
    height: 800px;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 1%;
    border-radius: 4px;
    
}

/* pulsanti */
.pulsantiera{
    height: 5%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-block-color: cyan;
    padding-left: 50px;
    padding-bottom:10px ;
}

#pulsante1{
    background-color: rgb(100, 100, 240);
    color: white;
    border-radius: 8px;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    font-family:sans-serif;
    padding: 8px 8px 8px 8px;
    display: inline-block;
    font-size: 12px;
    
}

#pulsante2{
    color: lightgray;
    border-radius: 8px;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    font-family:sans-serif;
    padding: 8px 8px 8px 8px;
    display: inline-block;
    font-size: 12px;

}

/* definizione delle liste */
 #blocco_liste{
    padding-left: 50px;
}

h3:before{
    content: ' \25BE';
}
    

.lista_special{
    list-style: none;
    padding-left:0;
    
}

li{
    height: 50px;
    display: block;
    padding-left: 7px;
    
    
}

div,li{
    
    font-family: arial;
}

li::before{
    content: ' \2713';
    border-width: 2px;
    border-color: blue;
    border-radius: 20px;
  
}

.classx{}

li.classx::before{
    content: ' \0078';
}

/* definizione etichetta*/
.etichetta{
    
    color: white;
    border-radius: 10px;
    padding: 9px;
    font-size: 9px;
    font-family: Arial;
    margin-left: 5px;
}




/* etichette specifiche */
.editorial{
 background-color: cornflowerblue;
}

.q1{
    background-color:rgb(192, 31, 192);
}

.recruiting{
    background-color: rgb(138, 177, 138);
}

.mobile{
    background-color: orange;

}

.website{
    background-color: rgb(138, 177, 138);
}

.sales{
    background-color: rgb(39, 199, 39);
}
